[%# Minimal paged content stylesheet (fonts/images) %]
/* ChordPro HTML5 Paged Minimal Content */

[% INCLUDE 'html5/css/variables.tt' %]

[% INCLUDE 'html5/css/typography.tt' %]

[% INCLUDE 'html5/css/songlines.tt' %]

[% INCLUDE 'html5/css/sections.tt' %]
